<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- responsive css -->
     <link rel="stylesheet" href="../css/Responsive.css">
</head>
<body>
    <div class= "responsive1">
    <div class=" design-development">
   <div class= "section1">
    <h1>DESIGN</h1>
    <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during ob.</p>
    </div>
  
 <div class= "section2">
<h1>DEVELOPMENT</h1>
 <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
    </div>
  
    </div>
<div class= "section3">
<h1>MAINTENANCE</h1>
<p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
</div>

  </div>
    <div class="img">
       <img src="../Images/separatorBlack 2.svg"/>
       <br>
       <br>
       <br>
    </div>
    <div class= "SKILLS">
         <P>SKILLS</P>
     </div>
     <!-- block tags -->
      <div class="section4">
        <h1>USING NOW:</h1>
        <a href=""></a>
      </div>
      <div class="Images-container">
      <img src="../images/Group 12.svg" alt="HTML">
      <p class="HTML">HTML5</p>
      <img src="../images/Group 13.svg" alt="CSS">
      <P class="CSS3">CSS3</P>
      <img src="../images/Vector.svg" alt="SASS">
      <P class="SASS">SASS</P>
      <img src="../images/Group.svg" alt="JAVASCRIPT">
      <P class="JAVASCRIPT">JAVASCRIPT</P>
      <img src="../images/Group 14 (1).svg" alt="REACT">
      <P class="REACT">REACT</P>
      <img src="../images/bootstrap.svg" alt="BOOTSTAP">
      <P class="bootstrap">BOOTSTAP</P>
      <img src="../images/git.svg" alt="GIT">
      <P class="GIT">GIT</P>
      <img src="../images/figma.svg" alt="FIGMA">
      <P class="FIGMA">FIGMA</P>
    </div>
  </body>
  </body>